version: "3.8"
services:
  web:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./:/app:cached
      - /app/node_modules
    command: sh -c "npm ci && npm start"
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
